<div style="background-color:#EFF0EB;">
    <!--[if mso | IE]>
    <table
            align="center" border="0" cellpadding="0" cellspacing="0" class=""
            style="width:600px;" width="600"
    >
        <tr>
            <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
    <![endif]-->
    <div style="background:#FFFFFF;background-color:#FFFFFF;Margin:0px auto;border-radius:8px;max-width:600px;">
        <table align="center" border="0" cellpadding="0" cellspacing="0"
               role="presentation"
               style="background:#FFFFFF;background-color:#FFFFFF;width:100%;border-radius:8px;">
            <tbody>
            <tr>
                <td style="direction:ltr;font-size:0px;padding:8px;text-align:center;vertical-align:top;">
                    <!--[if mso | IE]>
                    <table role="presentation" border="0" cellpadding="0"
                           cellspacing="0">

                        <tr>
                            <td
                                    class="" width="600px"
                            >

                                <table
                                        align="center" border="0"
                                        cellpadding="0" cellspacing="0" class=""
                                        style="width:584px;" width="584"
                                >
                                    <tr>
                                        <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
                    <![endif]-->
                    <div style="Margin:0px auto;max-width:584px;">
                        <table align="center" border="0" cellpadding="0"
                               cellspacing="0" role="presentation"
                               style="width:100%;">
                            <tbody>
                            <tr>
                                <td style="direction:ltr;font-size:0px;padding:0;text-align:center;vertical-align:top;">
                                    <!--[if mso | IE]>
                                    <table role="presentation" border="0"
                                           cellpadding="0" cellspacing="0">

                                        <tr>

                                            <td
                                                    class=""
                                                    style="vertical-align:top;width:500px;"
                                            >
                                    <![endif]-->
                                    <div class="mj-column-px-500 outlook-group-fix"
                                         style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                                        <table border="0" cellpadding="0"
                                               cellspacing="0"
                                               role="presentation"
                                               style="vertical-align:top;"
                                               width="100%">
                                            <tr>
                                                <td align="left"
                                                    style="font-size:0px;padding:15px 0 0;word-break:break-word;">
                                                    <div style="font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:11px;line-height:1;text-align:left;color:#000000;">
                                                        <a href="#LINK#"
                                                           style="color: #000000; text-decoration:underline;">
                                                            #TITLE# </a>
                                                        <br/>
                                                        <br/> #LOCATION#
                                                        #COMPANY#
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!--[if mso | IE]>
                                    </td>

                                    </tr>

                                    </table>
                                    <![endif]-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--[if mso | IE]>
                    </td>
                    </tr>
                    </table>

                    </td>
                    </tr>

                    <tr>
                        <td
                                class="" width="600px"
                        >

                            <table
                                    align="center" border="0" cellpadding="0"
                                    cellspacing="0" class=""
                                    style="width:584px;" width="584"
                            >
                                <tr>
                                    <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
                    <![endif]-->
                    <div style="background:#FFFFFF;background-color:#FFFFFF;Margin:0px auto;max-width:584px;">
                        <table align="center" border="0" cellpadding="0"
                               cellspacing="0" role="presentation"
                               style="background:#FFFFFF;background-color:#FFFFFF;width:100%;">
                            <tbody>
                            <tr>
                                <td style="direction:ltr;font-size:0px;padding:0;text-align:center;vertical-align:top;">
                                    <!--[if mso | IE]>
                                    <table role="presentation" border="0"
                                           cellpadding="0" cellspacing="0">

                                        <tr>

                                            <td
                                                    class=""
                                                    style="vertical-align:top;width:584px;"
                                            >
                                    <![endif]-->
                                    <div class="mj-column-per-100 outlook-group-fix"
                                         style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                                        <table border="0" cellpadding="0"
                                               cellspacing="0"
                                               role="presentation"
                                               style="vertical-align:top;"
                                               width="100%">
                                            <tr>
                                                <td style="font-size:0px;padding:0;word-break:break-word;">
                                                    <p style="border-top:solid 1px #d1d1d1;font-size:1;margin:0px auto;width:500px;">
                                                    </p>
                                                    <!--[if mso | IE]>
                                                    <table
                                                            align="center"
                                                            border="0"
                                                            cellpadding="0"
                                                            cellspacing="0"
                                                            style="border-top:solid 1px #d1d1d1;font-size:1;margin:0px auto;width:500px;"
                                                            role="presentation"
                                                            width="500px"
                                                    >
                                                        <tr>
                                                            <td style="height:0;line-height:0;">
                                                                &nbsp;
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <![endif]-->
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!--[if mso | IE]>
                                    </td>

                                    </tr>

                                    </table>
                                    <![endif]-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--[if mso | IE]>
                    </td>
                    </tr>
                    </table>

                    </td>
                    </tr>

                    <tr>
                        <td
                                class="" width="600px"
                        >

                            <table
                                    align="center" border="0" cellpadding="0"
                                    cellspacing="0" class=""
                                    style="width:584px;" width="584"
                            >
                                <tr>
                                    <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
                    <![endif]-->
                    <div style="Margin:0px auto;max-width:584px;">
                        <table align="center" border="0" cellpadding="0"
                               cellspacing="0" role="presentation"
                               style="width:100%;">
                            <tbody>
                            <tr>
                                <td style="direction:ltr;font-size:0px;padding:8px;text-align:center;vertical-align:top;">
                                    <!--[if mso | IE]>
                                    <table role="presentation" border="0"
                                           cellpadding="0" cellspacing="0">

                                        <tr>

                                            <td
                                                    class=""
                                                    style="vertical-align:top;width:500px;"
                                            >
                                    <![endif]-->
                                    <div class="mj-column-px-500 outlook-group-fix"
                                         style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                                        <table border="0" cellpadding="0"
                                               cellspacing="0"
                                               role="presentation"
                                               style="vertical-align:top;"
                                               width="100%">
                                            <tr>
                                                <td align="left"
                                                    style="font-size:0px;padding:0 0 5px;word-break:break-word;">
                                                    <div style="font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:11px;line-height:1;text-align:left;color:#3a3b40;">
                                                        #BENEFITS#
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left"
                                                    style="font-size:0px;padding:0 0 5px;word-break:break-word;">
                                                    <div style="font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:11px;line-height:1;text-align:left;color:#3a3b40;">
                                                        #TECH_STACK#
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left"
                                                    style="font-size:0px;padding:0 0 5px;word-break:break-word;">
                                                    <div style="font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:11px;line-height:1;text-align:left;color:#3a3b40;">
                                                        #SKILLS#
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!--[if mso | IE]>
                                    </td>

                                    </tr>

                                    </table>
                                    <![endif]-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--[if mso | IE]>
                    </td>
                    </tr>
                    </table>

                    </td>
                    </tr>

                    <tr>
                        <td
                                class="" width="600px"
                        >

                            <table
                                    align="center" border="0" cellpadding="0"
                                    cellspacing="0" class=""
                                    style="width:584px;" width="584"
                            >
                                <tr>
                                    <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
                    <![endif]-->
                    <div style="Margin:0px auto;max-width:584px;">
                        <table align="center" border="0" cellpadding="0"
                               cellspacing="0" role="presentation"
                               style="width:100%;">
                            <tbody>
                            <tr>
                                <td style="direction:ltr;font-size:0px;padding:0;text-align:center;vertical-align:top;">
                                    <!--[if mso | IE]>
                                    <table role="presentation" border="0"
                                           cellpadding="0" cellspacing="0">

                                        <tr>

                                            <td
                                                    class=""
                                                    style="vertical-align:top;width:180px;"
                                            >
                                    <![endif]-->
                                    <div class="mj-column-px-180 outlook-group-fix"
                                         style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                                        <table border="0" cellpadding="0"
                                               cellspacing="0"
                                               role="presentation" width="100%">
                                            <tbody>
                                            <tr>
                                                <td style="vertical-align:top;padding:0;">
                                                    <table border="0"
                                                           cellpadding="0"
                                                           cellspacing="0"
                                                           role="presentation"
                                                           style=""
                                                           width="100%">
                                                        <tr>
                                                            <td align="center"
                                                                vertical-align="middle"
                                                                style="font-size:0px;padding:0;word-break:break-word;">
                                                                <table border="0"
                                                                       cellpadding="0"
                                                                       cellspacing="0"
                                                                       role="presentation"
                                                                       style="border-collapse:separate;line-height:100%;">
                                                                    <tr>
                                                                        <td align="center"
                                                                            bgcolor="#FFFFFF"
                                                                            role="presentation"
                                                                            style="border:none;border-radius:26px;cursor:auto;mso-padding-alt:12px;background:#FFFFFF;"
                                                                            valign="middle">
                                                                            <a href="#DETAILS_LINK#"
                                                                               style="display:inline-block;background:#FFFFFF;color:#000000;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:13px;font-weight:normal;line-height:120%;Margin:0;text-decoration:none;text-transform:none;padding:12px;mso-padding-alt:0px;border-radius:26px;"
                                                                               target="_blank">
                                                                                Details </a>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!--[if mso | IE]>
                                    </td>

                                    <td
                                            class=""
                                            style="vertical-align:top;width:180px;"
                                    >
                                    <![endif]-->
                                    <div class="mj-column-px-180 outlook-group-fix"
                                         style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
                                        <table border="0" cellpadding="0"
                                               cellspacing="0"
                                               role="presentation" width="100%">
                                            <tbody>
                                            <tr>
                                                <td style="vertical-align:top;padding:0;">
                                                    <table border="0"
                                                           cellpadding="0"
                                                           cellspacing="0"
                                                           role="presentation"
                                                           style=""
                                                           width="100%">
                                                        <tr>
                                                            <td align="center"
                                                                vertical-align="middle"
                                                                style="font-size:0px;padding:0;word-break:break-word;">
                                                                <table border="0"
                                                                       cellpadding="0"
                                                                       cellspacing="0"
                                                                       role="presentation"
                                                                       style="border-collapse:separate;line-height:100%;">
                                                                    <tr>
                                                                        <td align="center"
                                                                            bgcolor="#4CC790"
                                                                            role="presentation"
                                                                            style="border:none;border-radius:26px;cursor:auto;mso-padding-alt:12px;background:#4CC790;"
                                                                            valign="middle">
                                                                            <a href="#LINK#"
                                                                               style="display:inline-block;background:#4CC790;color:#FFFFFF;font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:13px;font-weight:normal;line-height:120%;Margin:0;text-decoration:none;text-transform:none;padding:12px;mso-padding-alt:0px;border-radius:26px;"
                                                                               target="_blank">
                                                                                Open
                                                                                offer </a>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!--[if mso | IE]>
                                    </td>

                                    </tr>

                                    </table>
                                    <![endif]-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--[if mso | IE]>
                    </td>
                    </tr>
                    </table>

                    </td>
                    </tr>

                    </table>
                    <![endif]-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--[if mso | IE]>
    </td>
    </tr>
    </table>

    <table
            align="center" border="0" cellpadding="0" cellspacing="0" class=""
            style="width:600px;" width="600"
    >
        <tr>
            <td style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;">
    <![endif]-->
    <div style="Margin:0px auto;max-width:600px;">
        <table align="center" border="0" cellpadding="0" cellspacing="0"
               role="presentation" style="width:100%;">
            <tbody>
            <tr>
                <td style="direction:ltr;font-size:0px;padding:8px;text-align:center;vertical-align:top;">
                    <!--[if mso | IE]>
                    <table role="presentation" border="0" cellpadding="0"
                           cellspacing="0">

                        <tr>

                        </tr>

                    </table>
                    <![endif]-->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--[if mso | IE]>
    </td>
    </tr>
    </table>
    <![endif]-->
</div>
